<header>
  <nav>
    <!-- <img src="../../assets/img/DAT.png" alt="DAT-logo" class="logo-dat" /> -->

    <a href="#" class="logo">Radiance</a>
    <ul class="mainnav">
      <li>
        <a class="login-btn" routerLink="/login">Login</a>
      </li>
      <li>
        <a class="getstarted" routerLink="/signup">Get Started</a>
      </li>
    </ul>
  </nav>

  <div class="col-md-4 header flex-column justify-content-center">
    <div class="row">
      <h1>Scheduler to manage complex work easily</h1>
      <h2>
        Radiance is the easiest way for teams to plan project timelines, then
        track your team's work from start to finish.
      </h2>
    </div>
    <div class="row">
      <a routerLink="/signup" class="btn-get-started">
        <span>Get Started</span>
      </a>
    </div>
  </div>
</header>
