<div class="outer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <img
              id="profile-img"
              src="../../assets/img/DAT.png"
              class="profile-img-card img-responsive"
            />
          </div>
          <div class="panel-body p-3">
            <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
              <div class="form-group pt-3">
                <div class="input-field">
                  <span class="fa fa-lock p-2"> </span>
                  <input
                    [(ngModel)]="resetPassword.token"
                    id="newpass"
                    formControlName="token"
                    [type]="type"
                    placeholder="OTP code"
                    onkeyup="checkin();"
                  />
                </div>
              </div>
              <small
                *ngIf="
                  passwordForm.controls['token'].dirty &&
                  passwordForm.hasError('required', 'token')
                "
                class="text-danger"
                >*Token is required.</small
              >

              <small
                *ngIf="
                  passwordForm.controls['token'].dirty &&
                  passwordForm.hasError('minlength', 'token')
                "
                class="text-danger"
                >*OTP code must be 4 digits.</small
              >

              <div class="form-group pt-3">
                <div class="input-field">
                  <span class="fa fa-lock p-2"> </span>
                  <input
                    [(ngModel)]="resetPassword.newPassword"
                    id="copass"
                    formControlName="password"
                    [type]="type"
                    placeholder="New Password"
                    onkeyup="checkin();"
                  />
                  <span
                    (click)="hideShowPass()"
                    class="fa {{ eyeIcon }}"
                  ></span>
                </div>
              </div>
              <small
                *ngIf="
                  passwordForm.controls['password'].dirty &&
                  passwordForm.hasError('required', 'password')
                "
                class="text-danger"
                >*Password is required.</small
              >
              <small
                *ngIf="
                  passwordForm.controls['password'].dirty &&
                  passwordForm.hasError('minlength', 'password')
                "
                class="text-danger"
                >*Password must be at least 8 digits.</small
              >

              <small
                *ngIf="
                  passwordForm.controls['password'].dirty &&
                  passwordForm.hasError('pattern', 'password')
                "
                class="text-danger"
                >*Password must contain at least 1 capital letter and 1 small
                letter and 1 digit.</small
              >

              <div class="form-group pt-3">
                <div class="input-field">
                  <span class="fa fa-lock p-2"> </span>
                  <input
                    [(ngModel)]="resetPassword.coPassword"
                    id="coPassword"
                    formControlName="coPassword"
                    [type]="type"
                    placeholder="Confirm Password"
                    onkeyup="check();"
                  />
                  <span
                    (click)="hideShowPass2()"
                    class="fa {{ eyeIcon }}"
                  ></span>
                </div>
              </div>
              <small
                *ngIf="
                  passwordForm.controls['coPassword'].dirty &&
                  passwordForm.hasError('required', 'coPassword')
                "
                class="text-danger"
                >*Confirm Password is required.</small
              >
              <small id="message"></small>

              <div class="form-group pt-3 custom-btn">
                <button
                  type="reset"
                  class="btn btn-secondary btn-fill btn-block mt-4"
                >
                  Cancel
                </button>
                <button
                  [disabled]="passwordForm.invalid"
                  type="submit"
                  class="btn btn-primary btn-fill btn-block mt-4"
                >
                  Save
                </button>
              </div>

              <div class="text-center p-4 text-muted">
                <a id="forget" routerLink="/login">&lt; back to login</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
